
	#demo .page-header {
		text-align: center;
	}

	#demo .page-header h1 {
		font-family: 'Terminal Dosis', sans-serif;
		font-size: 64px; font-weight: 800;
		line-height: 70px;
	}

	#code {
		border-top: 1px solid #EEE;
		margin-top: 16px; padding-top: 14px;
	}
